.back{
     background-image: url("../assets/ovni.gif");
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw; /* Cambiar 'width' a '100vw' para ocupar el ancho completo de la ventana */
    height: 100vh; /* Cambiar 'height' a '100vh' para ocupar el alto completo de la ventana */
    margin: 0; /* Asegurarse de que no haya margen en el contenedor */
    padding: 0;
   position: absolute;
}
.h1{
    color: #1100ff;
    text-shadow: -3px 4px 4px rgb(0, 94, 255);
    font-size: 90px;
}
.h2{
    color: rgb(144, 61, 159);
    text-shadow: -3px 4px 4px rgb(247, 0, 255);
    font-size: 65px;
}
.h3{
    color: rgb(0, 179, 255);
    text-shadow: -3px 4px 4px rgba(255, 118, 228, 0.75);
    font-size: 40px;
}