.cardContainer {
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  max-width: 200%;
  margin: 0 auto; 
  align-items: center;
  text-align: center;
    position: relative;
    background-image: url('../assets/pal.webp');
    background-size:cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}